# ignore everything by default
*

# things to include
!docker
!textrp_briij
!textrp_briij/**
!synapse
!synapse/**
!rust
!README.rst
!pyproject.toml
!poetry.lock
!Cargo.lock
!Cargo.toml
!build_rust.py

rust/target
textrp_briij/*.so
synapse/*.so

**/__pycache__
