#!/bin/sh

set -e

# shellcheck disable=SC1091
. /usr/share/debconf/confmodule

# try to update the debconf db according to whatever is in the config files
#
# note that we may get run during preconfiguration, in which case the script
# will not yet be installed.
[ -x /opt/venvs/textrp-briij/lib/manage_debconf.pl ] && \
    /opt/venvs/textrp-briij/lib/manage_debconf.pl read

db_input high textrp-briij/server-name || true
db_input high textrp-briij/report-stats || true
db_go
